<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moor.im">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.MobileApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".options.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Welcome"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".options.intro.IntroActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.login.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.main.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity android:name=".options.contacts.activity.ContactsDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.chat.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity android:name=".helptest.activity.TestActivity" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".options.group.activity.GroupActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.group.activity.CreateGroupActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.group.activity.GroupSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.group.activity.GroupUpdateTitleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.group.activity.GroupAddAdminActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.group.activity.GroupAddMemberActivity" android:screenOrientation="portrait"/>

        <activity android:name=".options.discussion.activity.DiscussionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.discussion.activity.CreateDiscussionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.discussion.activity.DiscussionSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.discussion.activity.DiscussionUpdateTitleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.discussion.activity.DiscussionAddMemberActivity" android:screenOrientation="portrait"/>

        <activity android:name=".options.imageviewlook.ImageViewLookActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.setup.activity.EditActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.setup.activity.ClipImageViewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".options.update.UpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/parentDialog" >
        </activity>
        <activity android:name=".options.aboutme.AboutMeActivity" android:screenOrientation="portrait"/>

        <activity android:name=".options.mobileassistant.cdr.activity.CdrActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.mobileassistant.cdr.activity.MYCallHighQueryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.mobileassistant.cdr.activity.AllCallHighQueryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.mobileassistant.cdr.activity.MACallDetailActivity" android:screenOrientation="portrait"/>

        <activity android:name=".options.mobileassistant.erp.activity.ErpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.mobileassistant.erp.activity.ErpHighQueryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.mobileassistant.erp.activity.ErpActionBackActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.mobileassistant.erp.activity.ErpActionProcessActivity" android:screenOrientation="portrait"/>
        <activity android:name=".options.mobileassistant.erp.activity.ErpDetailActivity" android:screenOrientation="portrait"/>


        <receiver android:name=".common.receiver.SocketReceiver">
            <intent-filter>
                <action android:name="com.m7.action.loginsuccess" />
                <action android:name="com.m7.action.loginfailed" />
                <action android:name="com.m7.action.loginkicked" />
                <action android:name="com.m7.action.newmsg" />
                <action android:name="com.m7.action.update.group" />
                <action android:name="com.m7.action.update.discussion" />
            </intent-filter>
        </receiver>


        <!--im process-->
        <service
            android:name=".tcp.imservice.IMService"
            android:process=":imService" >
        </service>

        <receiver android:name=".tcp.receiver.NetReceiver"
            android:process=":imService" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>